:root {
    --sd-background-color: #eaeeea;
    --sd-heading-color: #202520;
    --sd-text-color: #222333;
    --sd-primary-color: #202520;
}

.sd-slide::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(logo_breizhcamp.svg);
    background-position: right 2vw bottom 2vh;
    background-repeat: no-repeat;
    background-size: 10vw;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.25;
    z-index: -1;
}

.cover {
    background-color: var(--sd-primary-color);

    h1,
    h2 {
        color: var(--sd-background-color);
    }
}

h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #153515 0%,
    #127212 29%,
    #15d515 67%,
    #151515 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 150px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h2 {
  color: #152515;
}


.chapter > h2 {
    color: var(--sd-primary-color);
}

